<script lang="ts">
    import type { CarbonIcon } from "carbon-icons-svelte";

    export let icon: typeof CarbonIcon | null = null;
    export let height: number | null = null;
</script>
<button on:click style={`height: ${height}px;`} {...$$restProps}>
    {#if icon}
        <svelte:component this={icon} size={24} />
    {:else}
        <slot />
    {/if}
</button>
<style lang="scss">
    button {
        display: flex;
        justify-items: center;
        align-items: center;
        padding: 0rem;
    }
</style>