<script lang="ts">
    import PanelOption from "$lib/PanelOption.svelte";
	import { OPTIONS } from '$ts/Constants';
    import { selectedToolStore } from "$ts/Stores";
    import Maximize from 'carbon-icons-svelte/lib/Maximize.svelte';
    import Minimize from 'carbon-icons-svelte/lib/Minimize.svelte';
    import type { SvelteComponent } from "svelte";
    import IconButton from "./IconButton.svelte";
    
    let selected: WB.OPTION = OPTIONS[$selectedToolStore.lastSelectedToolIndex];
    let lastComponent: SvelteComponent = OPTIONS[$selectedToolStore.lastSelectedToolIndex]?.component
    let left: number = -290;
    let color: string = OPTIONS[0].color;

    let maximized: boolean = false;

    $: {
        selected = OPTIONS[$selectedToolStore.lastSelectedToolIndex];
        if(selected) {
            lastComponent = selected?.component;
        }
        
        if(selected) {
            left = 0;
            color = selected.color;
        } else {
            left = -290;
            maximized = false;
        }
    }
</script>

<div id="navigation" style={`left: ${left}px;`} class:maximized={maximized}>
    <div class="view" style={`border-right: 10px solid ${color};`}>
        <div class="view-wrapper">
            <svelte:component this={lastComponent} />
        </div>
        <IconButton style="flex: 0 0 39px; margin: auto 1rem 1rem;"
                    icon={maximized ? Minimize : Maximize}
                    on:click={() => maximized = !maximized} 
        />
    </div>
    <nav>
        {#each OPTIONS as option}
            <PanelOption option={option} />
        {/each}
    </nav>
</div>
<style lang="scss">
    #navigation {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        width: 0;
        transition: left, right .6s ease;
        transition: width .6s ease;

        margin-right: 1rem;

        &.maximized {
            width: calc(100% - 1rem);
        }

        .view {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-basis: 0;
            box-shadow: 0 0 12px -4px;
            flex-direction: column;
            background-color: white;
            min-width: 300px;
            max-width: -webkit-fill-available;
            overflow: hidden;

            .view-wrapper {
                display: flex;
                flex-direction: column;
                height: 100%;
                padding: 1rem;
            }
        }

        nav {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 2rem 0;
            min-width: 60px;
        }
    }
</style>