<script lang="ts">
    import { selectedToolStore } from "$ts/Stores";
    import {OPTIONS} from "$ts/Constants";

    export let option: WB.OPTION;
    let isSelected = false;

    function selectSelf(): void {
        if($selectedToolStore.lastSelectedToolName !== option.name) {
            selectedToolStore.set({lastSelectedToolName: option.name, lastSelectedToolIndex: OPTIONS.findIndex(opt => opt.name === option.name)});
        } else {
            selectedToolStore.set({lastSelectedToolName: null, lastSelectedToolIndex: -1});
        }
    }

    selectedToolStore.subscribe(selection => {
        isSelected = selection.lastSelectedToolName === option.name
    });
</script>
<div class="panel-option" style={`background: ${option.color}`} class:selected={isSelected} on:click={selectSelf}>
    <div class="icon">
        <svelte:component this={option.icon} size={28} />
    </div>
</div>
<style lang="scss">
    .panel-option {
        display: flex;
        justify-content: center;
        align-items: center;

        border-top-right-radius: .2rem;
        border-bottom-right-radius: .2rem;
        width: 44px;
        height: 48px;
        box-shadow: 3px 0 6px -5px;
        transition: .2s ease width;

        .icon {
            :global(svg) {
                color: white;
            }
        }

        &:hover {
            cursor: pointer;
        }

        &.selected {
            width: 60px;
        }
    }
</style>