<script lang="ts">
    export let value: any;
    export let depth: number = 0;

    const valueType = typeof value;
</script>
{#if valueType === "object" && value}
    {#each Object.entries(value) as prop}
        {@const propValType = typeof prop[1]}
        <div class="prop" style={`--depth:${+!!depth}rem;`}>
            {prop[0]}:
            {#if propValType === "object"}
                <svelte:self value={prop[1]} depth={depth +1} />
            {:else}
                {prop[1]}
            {/if}
        </div>
    {/each}
{:else}
    {value}  
{/if}
<style lang="scss">
    .prop {
        --depth: 0rem;
        
        margin-left: var(--depth);
    }
</style>