<script lang="ts">
    import NavPanel from "$lib/NavPanel.svelte";
</script>


<main>
    <NavPanel />
    <slot />
</main>

<style lang="scss" global>
    @import '../styles/global';

    main {
        display: flex;
        gap: 2rem;
        padding-left: 3rem;

        position: relative;

        height: 100vh;
        width: 100vw;
    }
</style>