<script>
    import TimeBar from "$lib/time/TimeBar.svelte";
    import TimeCalc from "$lib/time/TimeCalc.svelte";
    import TimeInput from "$lib/time/TimeInput.svelte";
</script>
<div id="index-view">
    <TimeBar />
    <div class="calculation">
        <TimeCalc />
        <TimeInput />
    </div>
</div>
<style lang="scss">
    #index-view {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: .5rem;

        flex-grow: 1;

        .calculation {
            border-radius: .5rem;
            position: relative;
            border: 3px solid transparent;
            background: white;
            transition: box-shadow .2s ease;
            padding: 1rem;
            &:hover {
                box-shadow: 0 0 10px -3px;
            }
        }
    }
</style>