@keyframes animatedgradient {
	0% {
        inset: 0;
		background-position: 0% 50%;
	}
    20% {
        inset: -6px;
    }
	50% {
		background-position: 100% 50%;
        inset: -6px;
	}
    80% {
        inset: -6px;
    }
	100% {
		background-position: 0% 50%;
        inset: 0;
	}
}

@keyframes rainbow { 
    0%{background-position:0% 50%}
    50%{background-position:100% 25%}
    100%{background-position:0% 50%}
}

@mixin rainbow-font {
    background: linear-gradient(to right, #c72cee, rgb(46, 152, 250), rgb(55, 233, 55), rgb(252, 232, 55), orange, #f3481d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 800% 800%;
    animation: rainbow 8s ease infinite;
}

@mixin rainbow-border {
    
    background: white;
    border-radius: .5rem;
    
    &:after {
        content: '';
        position: absolute;
        transition: .2s inset ease;
        inset: 0;
        background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        border-radius: .5rem;
        animation: animatedgradient 3s ease alternate;
        animation-iteration-count: 1;
        z-index: -1;
        background-size: 300% 300%;
    }
}