body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    

    & * {
        font-family: Ubuntu, sans-serif;
        box-sizing: border-box;       
        user-select: none; 
    }

    textarea {
        width: 100%;
        height: fit-content;
        resize: none;
    }

    button {

        display: flex;
        justify-content: center;
        flex-grow: 1;

        padding: .5rem;
        margin: 0;
        
        border: none;
        border-radius: .2rem;

        transition: background .2s ease;

        &:hover:not([disabled]) {
            cursor: pointer;
            background: white;
            box-shadow: 0 0 5px -2px;
        }
    }
}