<script lang="ts">
import PropertyTree from "$lib/PropertyTree.svelte";

    import LocalStorageManager from "$ts/LocalStorageManager";
	import { timecalcStore } from "$ts/Stores";
    import { onDestroy } from "svelte";

    let settings: WB.Settings | null = null;

    const unsub = LocalStorageManager.settings.subscribe(v => {
        console.log(v);
        settings = v
    })

    $: settingsString = JSON.stringify(settings);

    onDestroy(() => {
        unsub();
    })
</script>
<div class="settings-view">
    <div class="rainbow-option">
        <input id="doRainbowAnimation" type="checkbox" bind:checked={$timecalcStore.doRainbowAnimation} />
        <label for="doRainbowAnimation">Do Rainbow animation</label>
    </div>
    <hr />
    <PropertyTree value={settings} />
</div>

<style lang="scss">
    .settings-view {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        flex: 1 0 100%;
    }

    hr {
        width: 100%;
    }

    .rainbow-option {
        display: flex;
    }
</style>