<script lang="ts">
    import {toolTodoStore} from '$ts/Stores';
    import IconButton from '$lib/IconButton.svelte';
    import Close from 'carbon-icons-svelte/lib/Close.svelte';
    import Send from 'carbon-icons-svelte/lib/Send.svelte';
    let value = "";
    let error: string = "";

    function doesContain() {
        const lValue = value.trim().toLowerCase();
        return $toolTodoStore.list.map(value => value.name.trim().toLowerCase()).includes(lValue)
    }

    function notEmpty() {
        return value.length !== 0;
    }

    function push(event: KeyboardEvent | MouseEvent) {
        if(event instanceof KeyboardEvent && !(event.key === "Enter")) {
            return;
        }
        if(!doesContain()) {
            if(notEmpty()) {
                toolTodoStore.update(oldValue => {
                    oldValue.list.push({name: value, done: false});
                    return oldValue;
                });
                value = "";
            } else {
                error = "You can't create empty todos!"
            }
        } else {
            error = "Todo already exists";
        }
    }

    function removeTodo(todo: WB.Todo) {
        toolTodoStore.update(oldValue => {
            if(oldValue.list.includes(todo)) {
                oldValue.list = oldValue.list.filter(lTodo => lTodo.name !== todo.name);
            }
            return oldValue;
        })
    }

    function clear() {
        $toolTodoStore.list = $toolTodoStore.list.filter(todo => !todo.done);
    }

    $: {
        value;
        if(doesContain()) {
            error = "Already created!";
        } else {
            if(notEmpty()) {
                error = "";
            } else {
                error = "empty ✖"
            }
        }
    }
</script>
<div id="tool-todo">
    <div class="input">
        <input class:error={error} type="text" on:keydown={push} bind:value={value} />
        <IconButton disabled={error} icon={Send} on:click={push} />
    </div>
    <span class:error={error} class="show-error">
        {error ? error : "✔"}
    </span>
    <button disabled={!$toolTodoStore.list.find(todo => todo.done)} on:click={clear}>clear</button>
    <div class="todos">
        {#each $toolTodoStore.list as todo}
            <label class:done={todo.done}>
                <input type="checkbox" bind:checked={todo.done} />
                {todo.name}
            </label>
            <IconButton height={25} icon={Close} on:click={() => removeTodo(todo)} />
        {/each}
        {#if $toolTodoStore.list.length === 0}
            <span class="notodo">You have no todos yet... 😢</span>
        {/if}
    </div>
</div>
<style lang="scss">
    #tool-todo {
        display: flex;
        flex-direction: column;
        gap: .3rem;

        .input {
            display: flex;
            gap: 1rem;
            height: 30px;
        }

        .todos {
            display: grid;
            grid-template-columns: auto 2rem;
            align-items: center;
            gap: .2rem;

            label {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &.done {
                    text-decoration: line-through;
                    color: #ccc;
                }
            }

            :global(button:hover svg) {
                fill: red;
            }

            span.notodo {
                display: flex;
                justify-content: center;
                grid-column-start: 1;
                grid-column-end: 4;
                color: #aaa;
                border-radius: .2rem;;
                margin-top: 1rem;
                padding: 1rem;
            }
        }

        .show-error {
            margin-left: auto;
            font-size: .7rem;
            color: green;
            height: 1rem;
            &.error {
                color: red;
            }
            margin-bottom: .5rem;
        }
    }
</style>