<script lang="ts">
    import Add from 'carbon-icons-svelte/lib/Add.svelte';
    import Subtract from 'carbon-icons-svelte/lib/Subtract.svelte';
    import {timecalcStore} from '$ts/Stores';
    import Utils from '$ts/Utils';

    let timePairs: Array<WB.TimePair> = $timecalcStore.times;

    const MAX_LINES = 5;

    function addLine() {
        if(timePairs.length < MAX_LINES) {
            timePairs.push({from: null, to: null});
        }
        timePairs = timePairs;
    }

    function removeLine() {
        if(timePairs.length > 1) {
            timePairs.pop()
            timePairs = timePairs;
        }
    }

    function getCurrentTime() {
        return Utils.fromLocalDateToTime(new Date());
    }

    function clearForToday() {
        timePairs = [{from: getCurrentTime(), to: null}];
    }

    $: $timecalcStore.times = timePairs
</script>
<div id="timeinput">
    <div class="boxes">
        <label for="live">
            <input id="live" type="checkbox" checked={$timecalcStore.live} on:change={(e) => timecalcStore.update(oldValue => {oldValue.live = e.target?.checked; return oldValue;})} />
            Live
        </label>
        <label for="just6">
            <input id="just6" type="checkbox" checked={$timecalcStore.just6} on:change={(e) => timecalcStore.update(oldValue => {oldValue.just6 = e.target?.checked; return oldValue;})} />
            Just 6
        </label>
    </div>
    <div class="buttons">
        <button on:click={clearForToday}>Clear for today</button>
    </div>
    <div class="buttons">
        <button disabled={timePairs.length === MAX_LINES} on:click={addLine} >
            <Add />
        </button>
        <button disabled={timePairs.length === 1} on:click={removeLine}>
            <Subtract />
        </button>
    </div>
    <div class="pairs">
        {#each timePairs as timePair, index (index)}
            <input type="time" bind:value={timePair.from} />
            <input type="time" bind:value={timePair.to} />
        {/each}
    </div>
</div>
<style lang="scss">
    #timeinput {
        display: flex;
        flex-direction: column;

        min-width: 20rem;
        padding: 1rem;

        .pairs {
            display: grid;
            grid-template-columns: auto auto;
            gap: .5rem;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            gap: .5rem;
            grid-area: buttons;
            margin: .2rem 0;

            &:nth-last-of-type(2) {
                margin-bottom: 1rem;
            }
        }

        .boxes {
            display: flex;
            justify-content: space-around;
            margin: 0 2rem;
        }

        :global(svg) {
            height:26px;
        }

        [for="live"] {
            user-select: none;
            
            display: flex;
            gap: .2rem;
            margin-bottom: 1rem;
            padding-right: 1rem;
            justify-content: center;
            grid-area: live;
        }
    }
</style>