<script lang="ts">
	import { MINIMUM_BREAK_TIME_PER_DAY, MINIMUM_WORKTOME_PER_DAY, MINIMUM_WORK_TIME_INVEST_PER_DAY, SHORT_WORK_TIME } from '$ts/Constants';
    import Utils from '$ts/Utils';

	import { timecalcStore } from '$ts/Stores';

    let workTime: string;
    let breakTime: string;
    let timeLeft: string;
    let estFreeTime: string | null;

    let plusTime: string;

    let intervalRef: NodeJS.Timer | null = null;
    let timeoutRef: NodeJS.Timeout | null = null;

    let prefix = "";

    let animation: boolean = true;

    $: {
        if($timecalcStore.live) {
            scheduleTimeout();
        } else {
            clearSchedule();
        }
    }

    function clearSchedule() {
        if(timeoutRef) {
            clearTimeout(timeoutRef);
            timeoutRef = null;
        }
        if(intervalRef) {
            clearInterval(intervalRef);
            intervalRef = null;
        }
    }

    function scheduleInterval() {
        clearSchedule();
        calc();
        intervalRef = setInterval(() => {
            calc();
            if($timecalcStore.doRainbowAnimation) {
                animation = true;
            }
        }, 1000 * 60);
    }

    function scheduleTimeout() {
        clearSchedule();
        timeoutRef = setTimeout(scheduleInterval, (60 - new Date().getSeconds()) * 1000);
    }

    function endanimation() {
        if(animation) {
            animation = false;
        }
    }

    function calc() {
        let MINIMUM_WORK_TIME_TODAY = MINIMUM_WORKTOME_PER_DAY;
        if($timecalcStore.just6) {
            MINIMUM_WORK_TIME_TODAY = SHORT_WORK_TIME;
        }

        let times: WB.DatePair[] = $timecalcStore.times.map(Utils.pairToDate);
        if($timecalcStore.live) {
            let virtualValueSet = false;
            times = times.map(pair => {
                if(!virtualValueSet) {
                    if(pair.from === null) {
                        pair.from = Utils.getDateFromBeginning();
                        virtualValueSet = true;
                    } else if(pair.to === null) {
                        pair.to = Utils.getDateFromBeginning();
                        virtualValueSet = true;
                    }
                }
                return pair;
            });
            if(!virtualValueSet) {
                times.push({from: Utils.getDateFromBeginning(), to: null});
            }
        }
        const length = $timecalcStore.times.length;

        const workTimeAsDate: Date = new Date(times.map(pair => {
            if(pair.from && pair.to) {
                return pair.to.getTime() - pair.from.getTime();
            }
            return 0;
        })
        .reduce((timeA, timeB) => timeA + timeB));

        workTime = Utils.fromDateToTime(workTimeAsDate); 

        const timeLeftAsNumber = Utils.returnPositiveOr0(MINIMUM_WORK_TIME_TODAY.getTime() - workTimeAsDate.getTime());
        timeLeft = Utils.fromDateToTime(new Date(timeLeftAsNumber));

    
        let lastTimeToValue: number = 0;
        const breakTimeAsDate = new Date(times.map((pair, index) => {
            if(!pair.from) {
                return 0;
            }
            if(index === 0) {
                if(pair.to) {
                    lastTimeToValue = pair.to.getTime();
                }
                return 0
            } else if (index !== length-1) {
                if(lastTimeToValue) {
                    let retValue = pair.from.getTime()-lastTimeToValue;
                    if(pair.to) {
                        lastTimeToValue = pair.to.getTime();
                    }
                    return retValue;
                }
            } else {
                return pair.from.getTime()-lastTimeToValue;;
            }
            return 0;
        })
        .reduce((timeA, timeB) => timeA + timeB)); 
        breakTime = Utils.fromDateToTime(breakTimeAsDate);

        estFreeTime = null;
        
        let exceededBreakTime = Utils.getExceededValue(breakTimeAsDate.getTime(), MINIMUM_BREAK_TIME_PER_DAY.getTime());
        if(times[0].from) {
            estFreeTime = Utils.fromDateToTime(new Date(times[0].from.getTime() + MINIMUM_WORK_TIME_TODAY.getTime() + exceededBreakTime + MINIMUM_BREAK_TIME_PER_DAY.getTime()));
        }

        let plusTimeAsDate = new Date(workTimeAsDate.getTime() - MINIMUM_WORKTOME_PER_DAY.getTime());
        prefix = plusTimeAsDate.getTime() >= 0 ? "+" : "-";
        plusTime = prefix + Utils.fromDateToTime(new Date(Math.abs(plusTimeAsDate.getTime())));
    }

    $: {
        $timecalcStore.times;
        calc();
    }
</script>
<div id="timecalc" class:animate={animation}>
    <label for="worktime">Work Time</label>
    <input id="worktime" readonly value={workTime} />
    <label for="timeleft">Time Left</label>
    <input id="timeleft" readonly value={timeLeft} />
    <label for="breaktime">Break Time</label>
    <input id="breaktime" readonly value={breakTime} />
    <label for="estFreeTime">Est. Freetime</label>
    <input id="estFreeTime" readonly value={estFreeTime} />
</div>
<div class="border" on:animationend={endanimation} />
<div class="increase" class:positive={prefix === "+"}>
    {plusTime}
</div>
<style lang="scss">
    @import "src/styles/__animations";

    div.increase {
        
        bottom: -5rem;
        width: 100%;

        text-align: center;
        color:rgb(243, 79, 67);
        justify-self: center;
        font-size: 4rem;
        padding-right: 2rem;
        &.positive {
            @include rainbow-font;
        }
    }

    #timecalc {
        display: grid;
        grid-template-areas: "live live" ". .";
        grid-template-columns: auto auto;
        grid-template-rows: auto;

        gap: .5rem;
        padding: 1rem 3rem;

        &.animate {
            + .border {
                @include rainbow-border;
            }
        }
    }

    input {
        max-width: 5rem;
    }
</style>